<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Dashboard</title>
</head>

<body>
    <form id="authForm">
        <label for="username">Username:</label>
        <input type="text" id="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" required />
        <button type="submit">Login </button>
    </form>

    <script>
       

        document.getElementById("authForm").addEventListener("submit", async (e) => {
            e.preventDefault();
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;


            const response = await fetch("/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username, password }),
            });
            if (response.ok) {
                const data = await response.json();
                token = data.token;
                window.location.href = "/dashboard";
                alert("login successful!");
            } else {
                alert("login failed!");
            }
        });

    </script>
</body>

</html>